body{
    background-color: #161618;
    margin: auto;
}

/*       header       */

header{
    height: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header figure{
    margin: 0;
    margin-left:  12%;
}

a {
    color: #ffcb46;
}

.header-buttons{
    width: 352px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 12%;
}

.header-buttons button{
    width: 166px;
    height: 55px;
    border-radius: 28px;

    border-color: #ffcb46;
    background-color: transparent;
    color: #ffcb46;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    outline:none;
}

.header-buttons button:hover {
    background-color: #ffcb46;
    color: #161618;
}

/*       main       */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 80px;
}

.big-text{     
    text-align: center;                        
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    color: #ffffff;
    
}

.outline{
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    margin-top: -288px;
    margin-left: -6px;

    color: transparent ;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffcb46;
}

.main-buttons{
    width: 352px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.main-buttons button{
    width: 166px;
    height: 55px;
    border-radius: 28px;

    border-color: #ffcb46;
    background-color: transparent;
    color: #ffcb46;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    outline:none;
}

.main-buttons button:hover {
    background-color: #ffcb46;
    color: #161618;
}


/*       footer       */

footer{
    height: 170px;
    background-color: #ffcb46;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}